<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">What's Gucci!</h1>
    <p class="lead">Start creating fake users, posts and comments. </p>
    <hr class="my-4">
    <p>Blahahaha alright click the button below or one of the links in the sidebar</p>
    <a class="btn btn-primary btn-lg" href="/posts" role="button">Start!</a>
  </div>
</div>
